// Font

$font-base: 'Muli', sans-serif;
$font-titles: 'Yanone Kaffeesatz', sans-serif;
$font-titles2: 'Fira Sans', sans-serif;

// Colors

$color-main: rgb(254, 218, 0);
$color-contrast: rgb(20, 20, 20);

//Spacing

// Spacing for elements
$spacing: 1rem;
$el-s: 1.125rem;
$el-m: 2.25rem;
$el-l: 3.375rem;

// Spacing for boxes
$box-s: 4.5rem;
$box-m: 5.625rem;
$box-l: 6.75rem;
