// Font

$font-base: 'Muli', sans-serif;
$font-display: 'Yanone Kaffeesatz', sans-serif;

// Colors

$color-main: rgb(254, 218, 0);
$color-contrast: rgb(20, 20, 20);

//Spacing

// Spacing for elements
$spacing: 1rem;
$el-s: 1.125rem;
$el-m: 1.5rem;
$el-l: 2rem;

// Spacing for boxes
$box-s: 2.5rem;
$box-m: 5rem;
$box-l: 7.5rem;
