.card-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	& > h2 {
		flex: none;
		display: block;
		width: 100%;
	}

	& > .btn-box {
		margin-top: $box-m;

		@include query(1080px) {
			margin-top: $box-l;
		}
	}

	@include query(1080px) {
		justify-content: space-between;
	}
}

.card {
	width: 100%;
	max-width: 400px;
	margin: 0 0 $el-l;
	position: relative;

	@include query(700px) {
		display: flex;
		width: 100%;
		max-width: 100%;
	}

	@include query(1080px) {
		width: 30%;
		margin: 0;
		display: inline-block;
	}
}

.card-img {
	width: 100%;
	height: auto;

	@include query(700px) {
		width: 50%;
		height: 100%;
	}

	@include query(1080px) {
		width: 100%;
		height: auto;
	}

}

.card-info {
	height: auto;
	padding: $el-s;
	background-color: #fff;
	transition: all .3s;

	@include query(1080px) {
		height: 65px;
		bottom: 0;
		position: absolute;
		overflow: hidden;
	}
}

.card:hover .card-info{
	bottom: -65px;
	height: auto;
}