.card-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	& > h2 {
		flex: none;
		display: block;
		width: 100%;
	}

	& > .btn-box {
		margin-top: $el-m;

		@include query(1080px) {
			margin-top: $box-s;
		}
	}
}

.card {
	width: 100%;
	max-width: 400px;
	margin: 0 0 $el-l*2;
	position: relative;
	z-index: 1;

	@include query(700px) {
		display: flex;
		width: 100%;
		max-width: 900px;
	}
}

.card-img {
	width: 100%;
	height: auto;

	@include query(700px) {
		width: 50%;
		height: 100%;
	}
}

.card-info {
	height: auto;
	width: 100%;
	padding: $el-s;
	background-color: #fff;
	transition: all .3s;

	@include query(700px) {
		width: 50%;
	}

	.btn-small {
		display: inline-block;
		margin-top: $el-l;

		@include query(700px) {
			position: absolute;
			bottom: 0;
			margin: 0 0 $el-l;
		}
	}
}

.card:hover {
}

.card-info-icon {
	margin-bottom: $el-s/2;

	p {
		display: inline-block;
	}

	p:last-child {
		position: relative;
	}
}

.card-icon-wrapper {
	@include query(700px) {
		width: 100%;
		position: relative;
	}
}

.card-info-icon:before {
	width: 45px;
	height: 45px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	top: 11px;
	margin-right: $el-s/2;
}

.icon-code:before {
	content: url("../img/code.svg");
}

.icon-cms:before {
	content: url("../img/tool.svg");
}

.icon-role:before {
	content: url("../img/comu.svg");
}

.icon-link:before {
	content: url("../img/link.svg");
}