.nav {
	position: relative;
	z-index: 2;

	li {
		list-style: none;
		text-align: center;
	}

	a {
		border: none;
		font: 24px $font-display;
	}
}

.home-nav {
	display: none;

	@include query(800px) {
		display: initial;
		grid-column-start: 1;

		li {
			margin: 0 $el-m $el-s;
		}

		a {
			cursor: pointer;
			padding: 5px 25px;
		}
	}
}

.mobile-nav {
	position: absolute;
	z-index: 7;
	width: 100%;
	background-color: $color-main;
	padding: $box-s;

	li {
		margin-bottom: $box-s;
	}

	a {
		padding: $el-m $box-m;
		border-top: 1px solid;
	}

	li:first-child a {
		border: none;
		display: inherit;
		width: 50%;
		padding: 0;
		transform: translateX(-50%);
		left: 50%;
		margin-top: $box-m;
		position: relative;

		@include query(450px) {
			width: 25%;
			margin-top: $el-l;
		}
	}

	li:last-child {
		margin: 0;
	}
}

.nav-mobile-icon {
	margin: $el-l;
	padding: $el-s/2 $el-s;
	position: relative;
	z-index: 10;
	float: right;
}

.logo {
	display: inline-block;
	width: 100px;
	height: 50px;

	svg {
		width: 100%;
	}
}

.logo-display {
	display: block;
	margin-top: 5px;
	text-align: center;

	@include query(500px) {
		text-align: left;
	}
}

.home-logo {
	width: 176px;
	margin-bottom: $box-s;
}

.footer-nav {
	float: left;

	li {
		display: block;
		border-top: 1px solid #fff;
		padding: $el-s/2 $el-l;
	}

	a {
		color: #fff;
		padding: 5px $el-s;
	}

	a:hover {
		color: #000;
	}

	li:first-child {
		border: none;

		a {
			padding: 5px $el-s 0 0;
		}
	}

	@include query(950px) {
		li {
			margin: 0;
			display: inline-block;
			border-top: none;
			border-left: 1px solid #fff;
			padding: 0;
		}
	}
}

.inner-nav {
	display: none;

	@include query(800px) {
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
		background-color: #fff;
		top: 0;
		display: inline-block;
		transform: translateX(-50%);
		left: 50%;
		border-top: 5px solid $color-main;

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			padding: 2.23rem $el-l 2.75rem;
		}

		a:hover {
			background-color: $color-main;
		}
	}
}

.inner-nav-logo {
	width: 150px;
	height: 75px;
	padding: $el-m $el-m $box-m !important;
}