// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  color: #000;
  font-family: $font-base;
  font-weight: 900;
}

.title-decor {
  text-align: center;

  &:before,
  &:after {
    content: "\2014\2014";
    color: inherit;
    letter-spacing: -3px;
    letter-spacing: -.25rem;
    padding: 0 .8rem 0 .4rem;
  }
}